.header {
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;

  &.scrolled {
    background-color: white;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &__icon {
      width: 160px;
      height: 60px;
      object-fit: contain;
    }
  }

  &__nav {
    &__item {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &__link {
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 1px;
      color: white;
    }
  }

  &.scrolled {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .header__nav__link {
      color: rgb(66, 66, 66);
    }
  }

  &__container__btns {
    display: flex;
    align-items: center;
    gap: 16px;

    &-en,
    &-ru {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;

      img {
        border-radius: 2px;
        background-color: transparent;
        object-fit: contain;
      }

    }
  }

  &__container__btn {
    width: 200px;
    padding: 10px 30px;
    border-radius: 4px;
    border: 1px solid rgb(0, 129, 227);
    background-color: rgb(0, 129, 227);
    color: white;
    font-size: 18px;
  }

  .header__nav__list-category {
    position: relative;

    &:hover .header__nav__category {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .header__nav__category {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transform: translateY(-10px);
    transition: all 0.6s ease;
    width: 400px;
    top: 50px;
    left: 0;
    border-radius: 6px;
  }

  .header__nav__category-list {
    padding: 15px 20px;

    &:hover {
      background-color: #f8f8f8;
      cursor: pointer;
    }
  }

  &__nav__close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    font-size: 26px;
    display: none;
  }

  &__nav__menu {
    display: none;

    &-btn {
      background: transparent;
      border: none;
      // color: white;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__nav__list-hide {
    display: none;
  }

  @media (max-width: 1560px) {
    &__nav__item {
      gap: 20px;
    }

    &__nav__link {
      font-size: 18px;
    }
  }

  @media (max-width: 1010px) {
    &__container__btns {
      display: none;
    }

    &__nav {
      position: fixed;
      left: -100%;
      top: 0;
      width: 80%;
      height: 100vh;
      background-color: rgb(230, 230, 230);
      transition: 0.6s;
      z-index: 99;

      &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 130px;
      }

      &__link {
        color: #0e304e;
        font-size: 25px;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 130%;
        word-wrap: break-word;
      }
      
    }

    &__nav__list-hide {
      display: block;
    }

    &__nav__hide {
      left: 0;
      transition: 0.6s;
    }

    &__nav__close {
      display: block;
    }

    &__nav__menu {
      display: block;
    }
  }
}
