.footer {
  background-color: #0081e3;
  padding: 40px 0px 10px;

  &__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    &__item {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 18px;
    }

    &__title {
      font-size: 22px;
      font-weight: 600;
      color: white;
      padding-bottom: 10px;
    }

    &__list {
      color: white !important;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      line-height: 24px;
      word-wrap: break-word;
    }

    &__list-number {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 7px;

      &-link {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  &__bottom {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 120px;
    }

    &-title {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  @media (max-width: 1050px) {
    &__nav {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 450px) {
    padding: 20px 0px;
    &__nav {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }

    &__nav__item {
      gap: 8px;
    }

    &__nav__title {
      font-size: 16px;
      font-weight: 600;
      padding-bottom: 5px;
    }

    &__nav__list {
      font-size: 14px;
    }
  }
}
