.animate-section {
    position: relative;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &-img {
        width: 180px;
        transition: all 0.8s ease;
    }

    .left {
        transform: translateX(-200px);

        &-img-one {
            height: 300px;
            width: 200px;
        }

        &-img-two {
            height: 260px;
            width: 220px;
        }
    }

    .center-img {
        height: 400px;
        width: 270px;
    }

    .right {
        transform: translateX(200px);

        &-img-three {
            height: 300px;
            width: 200px;
        }

        &-img-two {
            height: 260px;
            width: 220px;
        }
    }

    .center {
        transform: scale(1.1);
        z-index: 2;
    }

    &.active {
        .animate-section-img {
            transform: translateX(0) scale(1);
        }
    }
}