.partner {
  &-top {
    background: #aaa2;
    padding: 50px 0px;

    &-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      grid-gap: 40px;
    }

    &-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      &-title {
        font-size: 32px;
        line-height: 42px;
        font-weight: 600;
      }

      &-text {
        font-size: 18px;
        font-weight: 400;
        color: black;
        line-height: 26px;
      }

      &-btn {
        padding: 10px 30px;
        background-color: rgb(71, 156, 210);
        font-size: 15px;
        font-weight: 500;
        color: white;
        border: 1px solid rgb(0, 129, 227);
        border-radius: 6px;
      }
    }

    &-right {
      &-img {
        width: 100%;
      }
    }
  }

  &__bottom {
    padding: 30px 0px;

    &-desc {
      font-size: 18px;
      font-weight: 400;
      color: rgb(0, 129, 227);
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      padding: 30px 0px;
    }

    .partner__bottom__card {
      box-shadow: 1px 1px 10px #aaa4;
      padding: 14px;
      border-radius: 4px;
      background-color: #fff;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 0.8s ease forwards;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px 20px #aaa6;
      }

      img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 120px;
        height: 200px;
        object-fit: contain;
      }

      &-text {
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        color: rgb(0, 129, 227);
        margin-top: 10px;
      }
    }

    @keyframes fadeUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

    &-left {
      img {
        width: 100%;
        border-radius: 12px;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-title {
        font-size: 32px;
        font-weight: 500;
        color: black;
      }

      &-text {
        font-size: 18px;
        font-weight: 400;
        color: rgb(86, 86, 86);
      }
    }
  }

  &-bg {
    background: url(../../assets/img/partner3.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;

    &-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      padding: 60px 0px;
    }

    &-left {
      display: flex;
      flex-direction: column;
      gap: 14px;

      &-desc {
        font-size: 18px;
        font-weight: 500;
        color: white;
      }

      &-title {
        font-size: 28px;
        font-weight: 600;
        line-height: 34px;
        color: white;
      }

      &-text {
        font-size: 17px;
        font-weight: 400;
        line-height: 26px;
        color: white;
      }
    }
  }

  &-drive {
    background-color: #EAF6FA;
    padding: 120px 0px;
    margin-top: 50px;
    margin-bottom: 50px;

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      &-title {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
      }

      &-btn {
        padding: 12px 40px;
        font-size: 18px;
        font-weight: 500;
        background-color: rgb(71, 156, 210);
        color: white;
        border: rgb(71, 156, 210);
        border-radius: 6px;
      }
    }

  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-text {
      font-size: 20px;
      font-weight: 500;
      color: black;
      text-align: center;
    }

    &-input {
      padding: 12px;
      border: 1px solid #aaa9;
      outline: none;
      border-radius: 2px;
    }

    &-textarea {
      padding: 12px;
      height: 100px;
      border: 1px solid #aaa9;
      outline: none;
      resize: vertical;
      border-radius: 2px;
    }

    &-btn {
      padding: 10px;
      background-color: rgb(71, 156, 210);
      color: white;
      border: 1px solid rgb(71, 156, 210);
      font-size: 15px;
      border-radius: 2px;
    }
  }

  @media (max-width: 1200px) {
    &__bottom-desc {
      font-size: 16px;
    }

    &__bottom .partner__bottom__card img {
      width: 100px;
      height: 140px;
    }
  }

  @media (max-width: 1000px) {
    &__bottom__cards {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }

  @media (max-width: 500px) {
    &__bottom__card-text {
      font-size: 12px !important;
    }

    &__bottom__cards {
      padding: 10px 0px;
    }

    &__bottom {
      padding: 10px 0px;
    }

    &__bottom-desc {
      font-size: 14px;
    }
  }

  @media (max-width: 400px) {
    &__bottom__cards {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }

    &__top__info-text {
      font-size: 13px;
    }

    &__top__info-title {
      font-size: 22px;
    }
  }
}