.singleCatalog {
    padding-top: 85px;

    &-top {
        background: url(../../assets/img/catalog-top.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 30px;
        height: 220px;

        &-info {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;

            &-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                padding: 14px;
                width: 230px;
                gap: 10px;
                font-size: 20px;
                background-color: rgb(71, 156, 210);
                color: white;
                border: 1px solid rgb(71, 156, 210);
            }

            &-title {
                font-size: 24px;
                font-weight: 400;
                color: aliceblue;
            }
        }
    }

    &-result {
        display: grid;
        grid-template-columns: 260px 1fr;
        align-items: flex-start;
        grid-gap: 20px;
        padding: 40px 0px;

        &-left {
            box-shadow: 1px 1px 10px #aaa6;

            &-title {
                background-color: rgb(71, 156, 210);
                padding: 16px;
                font-size: 20px;
                font-weight: 500;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;

                svg {
                    color: #dbdbdb;
                }
            }

            &-item {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            &-list {
                font-size: 14px;
                font-weight: 400;
                color: #333;
                padding: 16px;
                border-bottom: 1px solid #aaa4;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                &.active {
                    background-color: rgb(191, 223, 244); // yoki sizning ranginggiz
                }

                svg {
                    color: #404040;
                }
                
            }

            &-list:hover {
                background: rgb(191, 223, 244);
            }
        }

        &-right {
            &-info {
                display: flex;
                flex-direction: column;
                gap: 5px;

                &-title {
                    font-size: 28px;
                    font-weight: 500;
                    color: #333;
                }
            }

            &-cards {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 15px;
                padding: 20px 0px;
            }

            &-card {
                // box-shadow: 1px 1px 10px #aaa3;

                &-imgs {
                    img {
                        width: 100%;
                        height: 240px;
                        object-fit: contain;
                    }
                }

                &-info {
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    align-items: center;
                    padding-bottom: 20px;

                    &-title {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22px;
                        text-align: center;
                    }

                    &-btn {
                        padding: 4px 10px;
                        background-color: rgb(71, 156, 210);
                        border: 1px solid rgb(71, 156, 210);
                        color: white;
                    }
                }
            }
        }
    }
}