.catalog {
  position: relative;
  padding: 40px 0px;
  overflow: hidden;
  z-index: 1;
  background: url(../../assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);
    z-index: -1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-text {
      font-size: 22px;
      font-weight: 400;
      color: black;
    }

    &-title {
      font-size: 34px;
      font-weight: 400;
      line-height: 40px;
      width: 70%;
      span {
        color: #065ca6;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 30px 0px;
  }

  &__card {
    height: 280px;
    background-color: rgb(71, 131, 111);
    border-radius: 6px;
    overflow: hidden;
  }

  &__card__info {
    background-color: rgb(70, 136, 255);
    height: 50px;
    transform: translateY(300px);
    padding: 2px 6px;
    border-radius: 0px 0px 6px 6px;

    &-title {
      font-size: 16px;
      color: white;
    }
  }

  &__card:hover .catalog__card__info {
    transform: translateY(230px);
    transition: 0.4s;
  }

  &__container-desc {
    font-size: 16px;
    font-weight: 400;
    color: rgb(48, 47, 47);
  }

  @media (max-width: 1200px) {
    &__info-text {
      font-size: 16px;
    }

    &__info-title {
      font-size: 32px;
    }
  }

  @media (max-width: 1000px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }

    &__card {
      height: 250px;
    }

    &__info-title {
      font-size: 26px;
      width: 100%;
      line-height: 30px;
    }

    &__card__info {
      transform: translateY(250px);
      &-title {
        font-size: 14px;
      }
    }

    &__card:hover .catalog__card__info {
      transform: translateY(200px);
      transition: 0.4s;
    }

  }

  @media (max-width: 550px) {
    padding: 15px 0px;
    
    &__cards {
      grid-template-columns: repeat(1, 1fr);
      padding: 10px 0px;
      grid-gap: 10px;
    }

    &__container__left-img {
      width: 100px;
    }

    &__card {
      height: 220px;
    }

    &__card__info {
      transform: translateY(220px);
      padding: 5px 0px 0px 5px;

      &-title {
        font-size: 13px !important;
        line-height: 15px;
      }
    }

    &__card:hover .catalog__card__info {
      transform: translateY(170px);
      transition: 0.4s;
    }

    &__info-title {
      font-size: 20px;
      width: 100%;
      line-height: 20px;
    }

    &__container-desc {
      font-size: 12px;
      text-align: start;
    }

    &__info-title {
      font-size: 15px;
    }
  }
}
